# Environment files
.env
.env.backup
.env.production
backend/.env
frontend/.env.local
frontend/.env.*.local

# Dependencies
node_modules/
backend/vendor/
frontend/node_modules/

# Storage & Logs
backend/storage/*.key
backend/storage/logs/*.log
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/database/database.sqlite
backend/database/database.sqlite-journal

# Frontend Build
frontend/dist/
frontend/dist-ssr/

# IDE & OS
.DS_Store
Thumbs.db
*.sublime-workspace
.idea/
